body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1,h2,h3,h4{
    font-family: 'Ubuntu',sans-serif;
    width: 20%;
}
p{
    font-family: 'Overpass',sans-serif;
}
.header-section{
    background-image: url("/images/bg-pattern-intro.svg");
    background-size: 300vh;
    background-color: hsl(13, 100%, 72%);
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 0px 0px 0px 100px;
    color:#fff;
    position: relative;
    padding: 25px;
    height: 85vh;
}
.header-section h1{
    font-size: 60px;
    font-weight: 400;
    left: 15%;
    margin: 20px auto;
    position: absolute;
    top: 35%;
    text-align: center;
    width: 80%;
}
.header-section h2{
    font-size: 40px;
    font-weight: 700;
    top: 0%;
    left: 10%;
    position: relative;
}
.header-section h4{
    font-size: 20px;
    font-weight:200;
    left: 40%;
    top: 50%;
    position: absolute;
    width: 35%;
}
.header-section button{
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    color: red;
    font-family: 'Ubuntu',sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    left: 45%;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    top: 50%;
    width: 150px;
}
.header-section button:hover{
    background: none;
    color: #fff;
}
#learn-btn{
    border: 2px solid white;
    background: none;
    color: white;
}
#learn-btn:hover{
    border: none;
    background: #fff;
    color: red;
}

nav{
    height: 20px;
    left: 0px;
    position: absolute;
    top: 45px;
    width: 100%;
}

.other-options{
    list-style: none;
    display: inline;
    position: relative;
    top: 25px;
    left: 25%;
    
}

.other-options li{
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    margin: 5px 15px 50px 0px;
}

.login-options{
    position: relative;
    left: 30vw;
    margin-right: 20px;
}
.login-options button{
    bottom: 15px;
    border: 2px solid white;
    right: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
    position: relative;
}
.other-options li{
    float: left;
}

/* Middle section */
.mid-section{
    position: relative;
    text-align: center;
    height: 120vh;
    padding: 30px;
    width: 50vw;
}
.mid-section h2{
    font-size: 40px;
    font-family: 'Overpass',sans-serif;
    left: 60%;
    position: relative;
    top: 10%;
    width: 70%;
}
.mid-section img{
    position: absolute;
    left: 110%;
    height: 800px;
    bottom: 0%;
}
.editor-content{
    color: rgb(30, 26, 54);
    left: 20%;
    height: 60vh;
    padding: 10px;
    position: relative;
    top: 15%;
}
.editor-content p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    width: 70%;
}

.editor-content h3{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: justify;
    width: 60%;
}